.aside {
    padding-top: 90px;
}

.aside .container {
    width: 1280px;
    height: 474px;
    position: relative;
    padding: 115px 85px;
    background-color: #2c343e;
    border-radius: 10px;
}

.aside .container::after {
    position: absolute;
    top: -100px;
    right: 55px;
    display: block;
    width: 412px;
    height: 767px;
    background-image: url('../img/coffee-aside.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.aside__item {
    width: 540px;
    margin-left: 50px;
}

.aside__heading {   
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
}

.aside__desc {   
font-family: 'Barlow';
font-style: normal;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
}